# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Eclipse
.settings
.project
.pydevproject

# Python
*.pyc

# Sublime
*.sublime-project
*.sublime-workspace

# Datasets
som_cm/datasets/*/*
som_cm/.cache/upload.wikimedia.org,wikipedia,commons,1,16,Appearance_of_sky_for_weather_forecast,_Dhaka,_Bangladesh.JPG,ae15a512375eebea0c35bc2d07302fb3
palette/datasets/.cache/7-themes.com,data_images,out,46,6928912-purple-cosmos-flower.jpg,618129d169b6ad3469a88083299c908a